<div class="container">
  <header>
    <nav class="navbar navbar-light bg-light row">
      <div class="col-3 col-sm">
        <a class="navbar-brand" href="#">
          <img src="/assets/logo.png" alt="" height="50" class="d-inline-block align-top">
        </a>
      </div>
      <div class="col-4" *ngIf="creditCardNumber">
        <div *ngIf="creditType" ><img src="/assets/{{creditType}}.png" height="40"></div>
        Credit Card Number : {{creditCardNumber}}
      </div>
    </nav>
  </header>
  <div class="body mx-auto" *ngIf="!creditCardNumber">
    <app-credit-card></app-credit-card>
  </div>
<footer>
    
</footer>
</div>